%h2 #{locals[:subtitle]}
<center>
%span #{locals[:content]}
%br

%table{:style=>"width:60%; text-align: left;background-color: #f1f1c1;"}
  %tr
    %th
      User
    %th
      Message
  - locals[:messages].each do |msg|
    %tr
      %td
        %a{:href=>"mailto:#{msg[:senderEmail]}"}
          #{msg[:senderName]}
      %td
        #{msg[:message]}


</table>
<br>

:plain
  <form action="/submit" method="get">
    <b>Message:</b> <input type="text" size="40" name="message">
    <input type="submit" value="Submit">
  </form>

</center>

