<center>
%h2 #{locals[:subtitle]}
%div{:class => "mid", :style => "border-right: 1px dashed #aaa; text-align: center;"}
  %span Login by clicking on the re:claimID button.
  %br
  %a{:class => "button reclaim big", :href => "#{locals[:authorization_endpoint]}?redirect_uri=#{locals[:redirect_uri]}&client_id=#{locals[:client_id]}&response_type=code&scope=openid%20email%20full_name&nonce=#{locals[:nonce]}&code_challenge=#{locals[:code_challenge]}&code_challenge_method=S256&claims={%22userinfo%22:{%22fhgUid%22:{%22essential%22:false,%22attestation%22:true,%22format%22:[%22jwt%22]}}}"}
    <img src="/reclaim_logo.png"/>
    !!!<span style="font-family: Audiowide">re</span><span style="font-family: Helvetica Neue">:claimID</span>

%table{:style=>"width:60%; text-align: left;background-color: #f1f1c1;"}
  %tr
    %th
      User
    %th
      Message
  - locals[:messages].each do |msg|
    %tr
      %td
        %a{:href=>"mailto:#{msg[:senderEmail]}"}
          #{msg[:senderName]}
      %td
        #{msg[:message]}


</table>

</center>

